[Desktop Entry]
Encoding=UTF-8
Name=ojx
Comment=ojx P2P Cryptocurrency
Comment[fr]=ojx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ojx, eşten eşe kriptografik sanal para birimi
Exec=ojx-qt %u
Terminal=false
Type=Application
Icon=ojx128
MimeType=x-scheme-handler/ojx;
Categories=Office;Finance;